{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid index-image-container h-100">
        <div class="mx-auto align-items-center index-image-row text-center row h-100" >
            <div class="col homeImages">
                <div id="indexBass" alt="Bass Amp"></div>
            </div>
            <div class="col homeImages rounded">
                <div id="indexLogo" alt="Logo"></div>
            </div>
            <div class="col homeImages">
                <div id="indexGuitar" alt="Guitar being played"></div>
            </div>
        </div>
    </div>  
    <div class="container-fluid h-100">
        <div class="row h-100">
            <h2 class="my-4 text-center">
                WELCOME TO SOUND HAVEN STUDIOS
            </h2>
        </div>
    </div>
{% endblock %}