{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid h-100">
        <div class="mx-auto align-items-center index-image-row text-center row h-100" >
            <div class="col">
                <a href="{% url 'home' %}">
                    <div id="indexLogo"></div>
                </a>
            </div>
            <div class="col">
                <h1 class="text-center raj-wt">
                    REHEARSAL ROOMS
                </h1>
                <h4 class="text-center raj-wt">
                    3 PROFESSIONAL ROOMS TO CHOOSE FROM
                </h4>
            </div>
        </div>
    </div>  

    <div class="container-fluid h-100 px-0">
        <div class="row index-room-one text-center mx-0">
            <div class="col my-auto py-4">
                <p class="fs-1 raj-bk">
                    ROOM 1
                </p>
                <p class="raj-bk fs-6">
                    Room 1 is the largest of the Music Room London rehearsal studios, with a spacious 71 square metres to work with. 
                    <br>
                    It is perfect for rehearsals and is also ideally suited to dance and photographic sessions, performance, 
                    choreography and photo shoots and other applications where space with professional lighting rigs are required.
                    <hr>
                    <strong class="raj-bk fs-3">Studio spec</strong>
                        <ul class="raj-bk px-0 mx-0">
                            <li>
                                - 2.5kw FBT PA Speakers
                            </li>
                            <br>
                            <li>
                                - 3 x 2 way 1kw monitoring and drum fill                            
                            </li>
                            <br>
                            <li>
                                - Allen & Heath GL2200 24 Channel Mixer
                            </li>
                            <br>
                            <li>
                                - Lexicon MX200 Dual Reverb Effects Processor
                            </li>
                            <br>
                            <li>
                                - 2.5kw FBT PA Speakers
                            </li>
                        </ul>
                </p>
                <button class="btn-lg btn-dark">BOOK NOW</button>
            </div>
            <div class="col my-auto py-4">
                TEST
            </div>
        </div>
    </div>

{% endblock %}