{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid h-100">
        <div class="mx-auto align-items-center index-image-row text-center row h-100" >
            <div class="col">
                <a href="{% url 'home' %}">
                    <div id="indexLogo"></div>
                </a>
            </div>
            <div class="col">
                <h1 class="text-center raj-wt">
                    REHEARSAL ROOMS
                </h1>
                <h4 class="text-center raj-wt">
                    3 PROFESSIONAL ROOMS TO CHOOSE FROM
                </h4>
            </div>
        </div>
    </div>  

    <div class="container-fluid h-100 w-100">
        <div class="row index-room-one">

        </div>
    </div>

{% endblock %}