body {
    background-color: #003459;
}

.nav-logo {
    max-width: 70px;
}

.nav-links {
    font-weight: 600;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.socials {
    font-size: xx-large;
}

.index-image-container {
    padding: 0px;
}

.homeImages {
    padding: 0px;
}

.index-image-row {
    padding: 0px;
    margin: 10px 0 0 0;
}

#indexGuitar {
    background-image: url("/media/images/indexguitar.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 500px;
    border-radius: 0px 50px 50px 0px
}

#indexBass {
    background-image: url("/media/images/indexbassamp.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 500px;
    border-radius: 50px 0px 0px 50px
}

#indexLogo {
    background: #007EA7;
    background-image: url("/media/images/SHSLOGO.png");
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.brand {
    color: black !important;
}

a:hover {
    color: #007ea7 !important;
}

ul > li {
    display: inline-block !important;
}

/* .nav-link {
    color: white !important;
} */

.footer-link {
    color: black !important;
}