/* Font for the website */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.raj-wt {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: white;
}

.raj-bk {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: black;
}

/* Body CSS */

body {
    background: url("/media/images/bandBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Navbar CSS */

.nav-logo {
    max-width: 70px;
}

.nav-links {
    font-weight: 600;
}

ul > li {
    display: inline-block !important;
}

.nav-link {
    color: white !important;
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    font-size: large;
}

/* Search function CSS */

.form-control:focus, .form-control:active {
    border-color: #000;
    outline: 0;
    box-shadow: inset 0 0 0;
}

/* Footer CSS */

footer {
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.footer-link {
    color: black !important;
}

.socials {
    font-size: xx-large;
}

/* Logo on the Home Page */

#indexLogo {
    background-image: url("/media/images/SHS_Logo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 230px;
}

/* Link hover CSS */

a:hover {
    color: #007ea7 !important;
}

.index-room-one {
    margin-top: 250px;
    background: white;
    width: 100%;
}

.index-room-two {
    background: black;
    width: 100%;
}

.hr-wt {
    border-top: 1px solid white;
}