/* Font for the website */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.raj-wt {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: white;
}

.raj-bk {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: black;
}

.bg-blk {
    background-color: #000 !important;
}

/* Body CSS */

body {
    padding-top: 130px;
    padding-bottom: 70px;
    background: url("/media/images/bandBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Navbar CSS */

.nav-logo {
    max-width: 70px;
}

.nav-links {
    font-weight: 600;
}

ul > li {
    display: inline-block !important;
}

.nav-link {
    color: white !important;
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    font-size: large;
}

/* Search function CSS */

.form-control:focus, .form-control:active {
    border-color: #000;
    outline: 0;
    box-shadow: inset 0 0 0;
}

/* Footer CSS */

footer {
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.footer-link {
    color: white !important;
}

.socials {
    font-size: xx-large;
}

/* Logo on the Home Page */

#indexLogo {
    background-image: url("/media/images/SHS_Logo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 230px;
}

/* Link hover CSS */

a:hover {
    color: #007ea7 !important;
}


/* Room rows on Home Page */
.index-room-one {
    margin-top: 250px;
    background: white;
    width: 100%;
}

.index-room-two {
    background: black;
    width: 100%;
}

.index-room-three {
    background: white;
    width: 100%;
}

.hr-wt {
    border-top: 1px solid white;
}


@media (max-width: 995px) {
    #mobileNavbar
      {
          background-color: black !important;

      }
    #mobileNavbar, button
      {
          padding-bottom: 5px;

      }
    .nav-item {
        padding-left: 5px;
    }
  }

  @media (min-width: 995px) {
    #mobileNavbar
      {
          background-color: black !important;

      }
    }


      /* date picker css */
    
    input {
        padding: 10px 20px !important;
        border: 1px solid #000 !important;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #616161 !important;
        color: #fff !important;
        font-size: 16px;
        letter-spacing: 1px;
        width: 180px
    }
    
    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #512DA8;
        outline-width: 0
    }
    
    ::placeholder {
        color: #fff;
        opacity: 1
    }
    
    :-ms-input-placeholder {
        color: #fff
    }
    
    ::-ms-input-placeholder {
        color: #fff
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
    
    .datepicker {
        background-color: #000 !important;
        color: #fff !important;
        border: none;
        padding: 10px !important
    }
    
    .datepicker-dropdown:after {
        border-bottom: 6px solid #000
    }
    
    thead tr:nth-child(3) th {
        color: #fff !important;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px
    }
    
    .dow,
    .old-day,
    .day,
    .new-day {
        width: 40px !important;
        height: 40px !important;
        border-radius: 0px !important
    }
    
    .old-day:hover,
    .day:hover,
    .new-day:hover,
    .month:hover,
    .year:hover,
    .decade:hover,
    .century:hover {
        border-radius: 6px !important;
        background-color: #eee;
        color: #000
    }
    
    .disabled {
        color: #616161 !important
    }
    
    .prev,
    .next,
    .datepicker-switch {
        border-radius: 0 !important;
        padding: 20px 10px !important;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff !important;
        opacity: 0.8
    }
    
    .prev:hover,
    .next:hover,
    .datepicker-switch:hover {
        background-color: inherit !important;
        opacity: 1
    }
    
    .time-cell,
    .dur-cell {
        border: 1px solid #BDBDBD;
        margin: 2px;
        cursor: pointer
    }
    
    .time-cell:hover,
    .dur-cell:hover {
        border: 1px solid #a31a1a;
        background-color:#a31a1a;
    }
    
    .time-cell.select,
    .dur-cell.select {
        background-color: #000000;
        color: #fff
    }
    
    .fa-calendar {
        color: #fff;
        font-size: 30px;
        padding-top: 8px;
        padding-left: 5px;
        cursor: pointer
    }