@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.raj-wt {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: white;
}

.raj-bk {
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    color: black;
}

body {
    background: url("/media/images/bandBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo {
    max-width: 70px;
}

.nav-links {
    font-weight: 600;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.socials {
    font-size: xx-large;
}

.index-image-row {
    padding: 0px;
    margin: 10px 0 0 0;
}

#indexLogo {
    background-image: url("/media/images/SHS_Logo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 230px;
}

a:hover {
    color: #007ea7 !important;
}

ul > li {
    display: inline-block !important;
}

.nav-link {
    color: white !important;
    font-family: 'Rajdhani', 'Courier New', Courier, monospace;
    font-size: large;
}

.footer-link {
    color: black !important;
}