{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

<div class="container-fluid px-0 mt-3 px-sm-4 mx-auto">
    <div class="d-flex flex-row justify-content-center mx-0">
        <div class="accordion col-sm-6" id="dateAccordion">
            <div class="card bg-dark">
                <div class="card-header" id="dateHeading" type="button" data-toggle="collapse" data-target="#dateCollapse" aria-expanded="false" aria-controls="dateCollapse">
                    <div class="d-flex justify-content-center flex-row">
                        <div class="raj-wt d-inline-flex fs-6 col-6 text-left align-top">
                            Date
                        </div>
                        <div class="raj-wt fs-3 col-6 text-right ">
                            <i class="d-inline-flex fas fa-chevron-down "></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center bg-blk m-1">
                        <div class="col raj-wt text-center mx-3" id="dateSelectCol" >
                            <div id="dateSelect" class="fs-4">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="accordion col-sm-6" id="timeAccordion">
            <div class="card justify-content-center bg-dark">
                <div class="card-header" id="timeHeading" type="button" data-toggle="collapse" data-target="#timeCollapse" aria-expanded="false" aria-controls="timeCollapse">
                    <div class="d-flex flex-row">
                        <div class="raj-wt fs-3 col-6 text-right">
                            Time
                        </div>
                        <div class="raj-wt fs-3 col-4 text-left">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row bg-blk m-1">
                        <div class="col raj-wt text-center mx-3" id="timeSelectCol" >
                            <div id="timeSelect" class=" col fs-4">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-0 px-sm-4 mx-auto">
        <div class="row w-100 d-flex justify-content-end mx-0 ">

            <div class="col my-1">
                <div id="dateCollapse" class="collapse" aria-labelledby="dateHeading" data-parent="#dateAccordion">
                    <div class="card-body bg-dark my-1" id="dateHide" >
                        <div class="row mx-2">
                            <input onchange="displayDate()" onselect="hideDatepicker()" type="text" id="dp1" class="col-8 mx-0 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center datepicker" placeholder="Pick Date" name="date" readonly>
                            <div class="my-auto col text-center"><i class="raj-wt fs-3 text-right far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col my-1">
        <div id="timeCollapse" class="collapse " aria-labelledby="timeHeading" data-parent="#timeAccordion">
            <div class="card-body bg-dark container ">
                <div class="row w-100 mx-0">
                    <div class="col">
                        <div class="row d-flex">
                            <div class="col mx-3 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center">
                                Start Time
                            </div>
                        </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="12" type="radio" onclick="displayTime()" id="12pm" name="startTime" class="timeInput"></input>
                                        12PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="13" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        1PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="14" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        2PM
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="15" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        3PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="16" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        4PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="17" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        5PM
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="18" type="radio" onclick="displayTime()" name="startTime" class="timeInput"></input>
                                        6PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="19" type="radio" onclick="displayTime()" name="startTime" class="timeInput" ></input>
                                        7PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="20" type="radio" onclick="displayTime()" name="startTime" class="timeInput" ></input>
                                        8PM
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="21" type="radio" onclick="displayTime()" name="startTime" class="timeInput" ></input>
                                        9PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="22" type="radio" onclick="displayTime()" name="startTime" class="timeInput" ></input>
                                        10PM
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 time-cell startTimeLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="23" type="radio" onclick="displayTime()" name="startTime" class="timeInput" ></input>
                                        11PM
                                    </span>
                                </label>
                            </div>
                    </div>
                    
                    
                    <div class="col">
                        <div class="row d-flex">
                            <div class="col mx-3 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center">
                                Duration
                            </div>
                        </div>
                            <div class="row d-flex text-center mx-0">
                                <label class="col-4 mx-0 d-inline-block px-1 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 py-1">
                                    <input value="1" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        1HR
                                    </span>
                                </label>
                                <label class="col-4 d-inline-block mx-0 px-1 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 py-1">
                                    <input value="2" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        2HRS
                                    </span>
                                </label>
                                <label class="col-4 d-inline-block mx-0 px-1 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 py-1">
                                    <input value="3" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        3HRS
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="4" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        4HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="5" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        5HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="6" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        6HRS
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="7" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        7HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="8" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        8HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="9" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        9HRS
                                    </span>
                                </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="10" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        10HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="11" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        11HRS
                                    </span>
                                </label>
                                <label class="col-4 mx-0 px-0 dur-cell durationLabel">
                                    <span class="raj-wt text-center fs-6 px-1 py-1">
                                    <input value="12" type="radio" onchange="displayEnd()" name="duration" ></input>
                                        12HRS
                                    </span>
                                </label>
                            </div>
                    </div>


                </div>
            </div>
        </div>
        </div>
        </div>
</div>

        


<script type="text/javascript" src="{% static 'assets/js/searchFunction.js' %}"></script>

