{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

<div class="container-fluid px-1 mt-3 mx-0">
    <div class="d-flex flex-row justify-content-center mx-0">
        <div class="accordion col-sm-6" id="dateAccordion">
            <div class="card bg-dark">
                <div class="card-header" id="dateHeading" type="button" data-toggle="collapse" data-target="#dateCollapse" aria-expanded="false" aria-controls="dateCollapse">
                    <div class="d-flex justify-content-center flex-row">
                        <div class="raj-wt d-inline-flex fs-6 col-6 text-left align-top">
                            Date
                        </div>
                        <div class="raj-wt fs-3 col-6 text-right ">
                            <i class="d-inline-flex fas fa-chevron-down "></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center bg-blk m-1">
                        <div class="col raj-wt text-center mx-3" id="dateSelectCol" >
                            <div id="dateSelect" class="fs-4">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="accordion col-sm-6" id="timeAccordion">
            <div class="card justify-content-center bg-dark">
                <div class="card-header" id="timeHeading" type="button" data-toggle="collapse" data-target="#timeCollapse" aria-expanded="false" aria-controls="timeCollapse">
                    <div class="d-flex flex-row">
                        <div class="raj-wt fs-3 col-6 text-right">
                            Time
                        </div>
                        <div class="raj-wt fs-3 col-4 text-left">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row bg-blk m-1">
                        <div class="col raj-wt text-center mx-3" id="timeSelectCol" >
                            <div class="row">
                            <div id="timeSelect" class="text-right col-4 fs-4">
                                
                            </div>
                            <div class="col-4 fs-4">
                                -
                            </div>
                            <div id="durSelect" class="text-left col-4 fs-4">
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-1">
        <div class="flex-row d-flex justify-content-end mx-0 ">

            <div class="col my-1">
                <div id="dateCollapse" class="collapse" aria-labelledby="dateHeading" data-parent="#dateAccordion">
                    <div class="card-body bg-dark my-1" id="dateHide" >
                        <div class="row mx-2">
                            <input onchange="displayDate()" onselect="hideDatepicker()" type="text" id="dp1" class="col-8 mx-0 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center datepicker" placeholder="Pick Date" name="date" readonly>
                            <div class="my-auto col text-center"><i class="raj-wt fs-3 text-right far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col my-1">
        <div id="timeCollapse" class="collapse " aria-labelledby="timeHeading" data-parent="#timeAccordion">
            <div class="card-body bg-dark my-1 container-fluid ">
                <div class="row w-100 mx-0">

                    <div class="col-md-12">
                        <div class="row d-flex">
                            <div class="col mx-3 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center">
                                Start Time
                            </div>
                        </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <input onclick="updateTimeAndDuration()" value="12" type="radio" id="12pm" name="startTime" class="timeInput"></input>

                                <label for="12pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    
                                    12PM
                                </label>
                                <input onclick="updateTimeAndDuration()" value="13" type="radio" id="1pm" name="startTime" class="timeInput"></input>

                                <label for="1pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    1PM
                                </label>
                                <input onclick="updateTimeAndDuration()" value="14" type="radio" id="2pm" name="startTime" class="timeInput"></input>

                                <label for="2pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    2PM
                                </label>

                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label for="3pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="15" type="radio" id="3pm" name="startTime" class="timeInput"></input>
                                    3PM
                                </label>
                                <label for="4pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="16" type="radio" id="4pm" name="startTime" class="timeInput"></input>
                                    4PM
                                </label>
                                <label for="5pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="17" type="radio" id="5pm" name="startTime" class="timeInput"></input>
                                    5PM
                                </label>
                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label for="6pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="18" type="radio" id="6pm" name="startTime" class="timeInput"></input>
                                    6PM
                                </label>
                                <label for="7pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="19" type="radio" id="7pm" name="startTime" class="timeInput"></input>
                                    7PM
                                </label>
                                <label for="8pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="20" type="radio" id="8pm" name="startTime" class="timeInput"></input>
                                    8PM
                                </label>
                            </div>
                            <div class="row d-flex w-100 text-center mx-0">
                                <label for="9pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="21" type="radio" id="9pm" name="startTime" class="timeInput"></input>
                                    9PM
                                </label>
                                <label for="10pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="22" type="radio" id="10pm" name="startTime" class="timeInput"></input>
                                    10PM
                                </label>
                                <label for="11pm" class="col-4 startTimeLabel raj-wt text-center fs-6 px-1 py-1 mx-0 mb-0 w-100 h-100">
                                    <input onclick="updateTimeAndDuration()" value="23" type="radio" id="11pm" name="startTime" class="timeInput"></input>
                                    11PM
                                </label>
                            </div>
                    </div>
                    
                    
                    <div class="col-md-12">
                        <div class="row d-flex">
                            <div class="col mx-3 my-1 py-1 card-header bg-blk raj-wt fs-4 text-center">
                                Duration
                            </div>
                        </div>
                            <div class="row d-flex text-center mx-0">
                                    <label for="1hr" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="1hr" value="1" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        1HR
                                    </label>
                                    <label for="2hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="2hrs" value="2" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        2HRS
                                    </label>
                                    <label for="3hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="3hrs" value="3" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        3HRS
                                    </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                    <label for="4hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="4hrs" value="4" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        4HRS
                                    </label>
                                    <label for="5hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="5hrs" value="5" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        5HRS
                                    </label>
                                    <label for="6hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="6hrs" value="6" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        6HRS
                                    </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                    <label for="7hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="7hrs" value="7" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        7HRS
                                    </label>
                                    <label for="8hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="8hrs" value="8" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        8HRS
                                    </label>
                                    <label for="9hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="9hrs" value="9" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        9HRS
                                    </label>
                            </div>
                            <div class="row d-flex text-center mx-0">
                                    <label for="10hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="10hrs" value="10" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        10HRS
                                    </label>
                                    <label for="11hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="11hrs" value="11" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        11HRS
                                    </label>
                                    <label for="12hrs" class="col-4 dur-cell durationLabel raj-wt text-center fs-6 p-1 mx-0 mb-0">
                                        <input id="12hrs" value="12" type="radio" onchange="updateTimeAndDuration()" name="duration" ></input>
                                        12HRS
                                    </label>
                            </div>
                    </div>


                </div>
            </div>
        </div>
        </div>
        </div>
</div>

        


<script type="text/javascript" src="{% static 'assets/js/searchFunction.js' %}"></script>

